@charset "UTF-8";
@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css";
@import "https://fonts.googleapis.com/css?family=Montserrat:700|Open+Sans:300,400|Pacifico";

/* Reset */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym,
address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var,
b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption,
/*tbody, tfoot, thead, tr, th, td, */
article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav,
output, ruby, section, summary, time, mark, audio, video {
    font-size: 100%;
    font: inherit;
}

/* Type is needed ot inherit Awsome Fonts!!!*/

body, input, select, textarea {
    /*color: #767d85;*/
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    font-size: 13pt;
    font-weight: 300;
    line-height: 1.65;
}

strong, b {
    color: #727a82;
    font-weight: 700;
}

em, i {
    font-style: italic;
}

h1, h2, h3, h4, h5, h6 {
    color: #727a82;
    font-weight: 700;
    font-family: "Montserrat", sans-serif;
    line-height: 1.5;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.75em;
}

h3 {
    font-size: 1.25em;
}

h4 {
    font-size: 1em;
}

h5 {
    font-size: 0.9em;
}

h6 {
    font-size: 0.7em;
}

sub {
    font-size: 0.8em;

}

blockquote {
    font-style: italic;
}

code {
    font-family: "Courier New", monospace;
    font-size: 0.9em;
}

pre {
    -webkit-overflow-scrolling: touch;
    font-family: "Courier New", monospace;
    font-size: 0.9em;
}

/* Section/Article */

header h1 + p {
    font-size: 1.25em;
}

header h2 + p {
    font-size: 1.25em;
}

header h3 + p {
    font-size: 1.1em;
}

header h4 + p,
header h5 + p,
header h6 + p {
    font-size: 0.9em;
}

/* Form */

label {
    font-size: 0.8em;
    font-weight: 600;
}

input[type="checkbox"] + label:before,
input[type="radio"] + label:before {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-transform: none !important;
}

/* Button */
    input[type="submit"].btn,
    input[type="reset"].btn,
    input[type="button"].btn,
    button.btn, .button.btn {
        -moz-appearance: none;
        -webkit-appearance: none;
        -ms-appearance: none;
        appearance: none;
        cursor: pointer;
        display: inline-block;
        font-family: "Open Sans", Arial, Helvetica, sans-serif;
                /*"Montserrat", sans-serif;*/
        /*background-color: transparent;*/
        /*box-shadow: inset 0 0 0 1px #dee1e3;*/
        /*color: #727a82 !important;*/
    }
    .btn-default{
        color: #727a82 !important;
    }

/* Header */

#logo
{
    color: #f6755e;
    font-family: "Pacifico", cursive;
    font-size: 1.5em;
    letter-spacing: 2px;
    margin-top: -5px;
    text-decoration: none;
    display: inline-block;
}