
@charset "UTF-8";
@import url(font-awesome.min.css);
@import "https://fonts.googleapis.com/css?family=Montserrat:700|Open+Sans:300,400|Pacifico";
/*body {*/
    /*background: #eee !important;*/
/*}*/

.wrapper {
    margin-top: 80px;
    margin-bottom: 80px;
}

.form-signin {
    max-width: 380px;
    padding: 15px 35px 45px;
    margin: 0 auto;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.1);
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 30px;
}
.form-signin .checkbox {
    font-weight: normal;
}
.form-signin .form-control {
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.form-signin .form-control:focus {
    z-index: 2;
}
.form-signin input[type="text"] {
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.form-signin input[type="password"] {
    margin-bottom: 20px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

#header nav.right {
    width: 30em;
    right: 2em;
    margin-top: 1.5em;
    z-index: 9999;
}

.mainmenu {
    list-style: none;
    margin: auto;
    padding: 0px;
}

.submenu {
    list-style: none;
    padding: 0;
    margin: 0;
    overflow: hidden;
    max-height: 0;
    -webkit-transition: all 0.5s ease-out;
}

.mainmenu li:hover .submenu {
    display: block;
    max-height: 200px;
    width: 10em;
}

.submenu li a{
    display: block !important;
    background-color: #f6755e !important;
    width: 100% !important;
    overflow: visible !important;
}

.mainmenu li, .submenu li{
    padding: 0 !important;
    width: 10em;
}

#header nav li, .submenu li {
    width: 10em;
    height: 3.25em;
    line-height: 3.25em;
}

/*PIPELINE STYLES*/
.pipe_line_canvas{
    position: absolute !important;
    left: 0;
    top: 3em;
    height: 100%;
    width: 100%;
}

.scroll{
    white-space: nowrap;
    margin-bottom: 10px;
    overflow-x: scroll;
    overflow-y: hidden;
    padding-bottom: 20px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 2.5em;
    left: 0;
}

.pipe_wrapper{
    width: 20%;
    margin: 0 0.1em;
    height: 95%;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
    white-space: nowrap;
}

.pipe{
    display: inline-block;
    height: auto;
    max-height: 100%;
    min-height: 5%;
    width: 100%;
    background: #E2E4E6;
    -webkit-box-shadow: 0px 1px 1px -1px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 1px 1px -1px rgba(0,0,0,0.3);
    box-shadow: 0px 1px 1px -1px rgba(0,0,0,0.3);
    border: 1px solid #b7b7b7;
    overflow-y: auto;
}

.person:hover{
    background-color: ghostwhite !important;
}

.pipe, .person {
    border-radius: 5px;
    -webkit-box-shadow: 1px 1px 1px -1px rgba(0,0,0,0.1);
    -moz-box-shadow: 1px 1px 1px -1px rgba(0,0,0,0.1);
    box-shadow: 1px 1px 1px -1px rgba(0,0,0,0.1);
}

.add, .add_pipe{
    width: 100%;
    height: 2em;
    line-height: 0em;
    border-radius: 0 0 3px 3px;
    background-color: #E2E4E6;
    color: #727a82;
    display: block;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    position: relative;
    text-decoration: none;
    -webkit-user-select: none;
}

.add_pipe{
    width: 100% !important;
}

.person {
    overflow: hidden;
    margin: 2.5%;
    position: relative;
    z-index: 10;
    width: 95% !important;
}

.editToolbar {
    width: 100%;
    margin: 0;
    padding: 0;
    height: 50px;
}

.editToolbar form{
    height: 50px;
    margin: 0px;
    padding: 3% 0 3% 3%;
}

#cardName{
    width: 90%;
    margin-right: 1.5%;
}

.editToolbar #cardNameForm {
    width: 87%;
    float: left;
}

.editToolbar #cardName {
    width: 90%;
    float: left;
}

.editToolbar #deleteCardForm {
    padding: 3% 0 3% 0%;
    width: 12%;
    float: right;
}

.pipe .person {
    float: left;
    width: 100%;
    margin-bottom: 10px;
    margin-top: 10px;
    background-color: #ffffff;
}

.pipehover {
    background-color: #bce8f1;
}

.person-edit-tool-bar{
    overflow: visible;
    position: relative;
    right: 3%;
    top: 0;
    width: inherit;
}

.editPersonFrom {
    margin: 0%;
    padding: 0%;
    float: left;
}

.deletePersonForm {

    margin: 0%;
    padding: 0%;
}

.avatar {
    width: 15%;
    float: left;
}

.avatar img {
    padding: 15%;
}

.personData {
    height: 80%;
    margin-top: 0.1em;
    width: 70%;
    font-size: small;
    float: left;
}

.pipe-button{
    overflow: visible;
    position: relative;
    top: 0;
}
/*END OF PIPELINE STYLES*/


/* Main container */
.cbp-vm-switcher {
    padding: 20px;
    border: 3px solid #47a3da;
}

/* options/select wrapper with switch anchors */
.cbp-vm-options {
    text-align: right;
    padding-bottom: 10px;
    border-bottom: 3px solid #47a3da;
}

.cbp-vm-options a {
    display: inline-block;
    width: 40px;
    height: 40px;
    overflow: hidden;
    white-space: nowrap;
    color: #d0d0d0;
    margin: 2px;
}

.cbp-vm-options a:hover,
.cbp-vm-options a.cbp-vm-selected {
    color: #47a3da;
}

.cbp-vm-options a:before {
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 30px;
    text-align: center;
    display: inline-block;
}

/* General style of switch items' list */

.cbp-vm-switcher ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

/* Clear eventual floats */
.cbp-vm-switcher ul:before,
.cbp-vm-switcher ul:after {
    content: " ";
    display: table;
}

.cbp-vm-switcher ul:after {
    clear: both;
}

.cbp-vm-switcher ul li {
    display: block;
    position: relative;
}

.cbp-vm-image {
    display: block;
    margin: 0 auto;
}

.cbp-vm-image img {
    display: inline-block;
    max-width: 100%;
    border: none;
}

.cbp-vm-title {
    margin: 0;
    padding: 0;
}

.cbp-vm-price {
    color: #c0c0c0;
}

.cbp-vm-add {
    color: #fff;
    background: #47a3da;
    padding: 10px 20px;
    border-radius: 2px;
    margin: 20px 0 0;
    display: inline-block;
    transition: background 0.2s;
}

.cbp-vm-add:hover {
    color: #fff;
    background: #02639d;
}

.cbp-vm-add:before {
    margin-right: 5px;
}

/* Common icon styles */
.cbp-vm-icon:before {
    font-family: 'fontawesome';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}

.cbp-vm-grid:before {
    content: "\f00a";
}

.cbp-vm-list:before {
    content: "\f00b";
}

.cbp-vm-add:before {
    content: "\f055";
}

/* Individual view mode styles */

/* Large grid view */
.cbp-vm-view-grid ul {
    text-align: center;
}

.cbp-vm-view-grid ul li {
    width: 33%;
    text-align: center;
    padding: 25px;
    margin: 20px 0 0;
    display: inline-block;
    min-height: 420px;
    vertical-align: top;
}

.cbp-vm-view-grid .cbp-vm-title {
    font-size: 2em;
}

.cbp-vm-view-grid .cbp-vm-details {
    max-width: 300px;
    min-height: 70px;
    margin: 0 auto;
}

.cbp-vm-view-grid .cbp-vm-price {
    margin: 10px 0;
    font-size: 1.5em;
}


/* List view */
.cbp-vm-view-list li {
    padding: 20px 0;
    white-space: nowrap;
}

.cbp-vm-view-list .cbp-vm-image,
.cbp-vm-view-list .cbp-vm-title,
.cbp-vm-view-list .cbp-vm-details,
.cbp-vm-view-list .cbp-vm-price,
.cbp-vm-view-list .cbp-vm-add {
    display: inline-block;
    vertical-align: middle;
}

.cbp-vm-view-list .cbp-vm-image {
    width: 30%;
}

.cbp-vm-view-list .cbp-vm-title {
    font-size: 1.3em;
    padding: 0 10px;
    white-space: normal;
    width: 23%;
}

.cbp-vm-view-list .cbp-vm-price {
    font-size: 1.3em;
    width: 10%;
}

.cbp-vm-view-list .cbp-vm-details {
    width: 40%;
    padding: 0 15px;
    overflow: hidden;
    white-space: normal;
}

.cbp-vm-view-list .cbp-vm-add {
    margin: 0;
}

@media screen and (max-width: 66.7em) {
    .cbp-vm-view-list .cbp-vm-details  {
        width: 30%;
    }
}

@media screen and (max-width: 57em) {
    .cbp-vm-view-grid ul li {
        width: 49%;
    }
}

@media screen and (max-width: 47.375em) {
    .cbp-vm-view-list .cbp-vm-image {
        width: 30%;
    }

    .cbp-vm-view-list .cbp-vm-title {
        width: auto;
    }

    .cbp-vm-view-list .cbp-vm-details  {
        display: block;
        width: 100%;
        margin: 10px 0;
    }

    .cbp-vm-view-list .cbp-vm-add  {
        margin: 10px;
    }
}

@media screen and (max-width: 40.125em) {
    .cbp-vm-view-grid ul li {
        width: 100%;
    }
}
