
@charset "UTF-8";
@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css";
@import "https://fonts.googleapis.com/css?family=Montserrat:700|Open+Sans:300,400|Pacifico";
/*body {*/
    /*background: #eee !important;*/
/*}*/

.wrapper {
    margin-top: 80px;
    margin-bottom: 80px;
}

.form-signin {
    max-width: 380px;
    padding: 15px 35px 45px;
    margin: 0 auto;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.1);
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 30px;
}
.form-signin .checkbox {
    font-weight: normal;
}
.form-signin .form-control {
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.form-signin .form-control:focus {
    z-index: 2;
}
.form-signin input[type="text"] {
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.form-signin input[type="password"] {
    margin-bottom: 20px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

#header nav.right {
    width: 30em;
    right: 2em;
    margin-top: 1.5em;
    z-index: 9999;
}

.mainmenu {
    list-style: none;
    margin: auto;
    padding: 0px;
}

.submenu {
    list-style: none;
    padding: 0;
    margin: 0;
    overflow: hidden;
    max-height: 0;
    -webkit-transition: all 0.5s ease-out;
}

.mainmenu li:hover .submenu {
    display: block;
    max-height: 200px;
    width: 10em;
}

.submenu li a{
    display: block !important;
    background-color: #f6755e !important;
    width: 100% !important;
    overflow: visible !important;
}

.mainmenu li, .submenu li{
    padding: 0 !important;
    width: 10em;
}

#header nav li, .submenu li {
    width: 10em;
    height: 3.25em;
    line-height: 3.25em;
}

/*PIPELINE STYLES*/
.pipe_name{
    background-color: #E2E4E6 !important;
    margin: 3px 0px 3px 3px;
    padding: 3px 12px;
    height: auto;
    border: none;
    box-shadow: none !important;
}

.pipe_name:focus{

    background-color: white !important;
    margin: 3px 0px 3px 3px;
    padding: 3px 12px;
    height: auto;
}

.pipe_line_canvas{
    position: absolute !important;
    left: 0;
    top: 3em;
    height: 100%;
    width: 100%;
}

.scroll{
    white-space: nowrap;
    margin-bottom: 10px;
    overflow-x: scroll;
    overflow-y: hidden;
    padding-bottom: 20px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 2.5em;
    left: 0;
}

.pipe_wrapper{
    width: 20%;
    margin: 0 0.1em;
    height: 95%;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
    white-space: nowrap;
}

.pipe_wrapper form {
    position: relative;
    top: -1%;
}
.pipe{
    display: inline-block;
    height: auto;
    width: 100%;
    background: #E2E4E6;
    -webkit-box-shadow: 0px 1px 1px -1px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 1px 1px -1px rgba(0,0,0,0.3);
    box-shadow: 0px 1px 1px -1px rgba(0,0,0,0.3);
    overflow-y: auto;
}

.person:hover{
    background-color: ghostwhite !important;
}

.pipe, .person {
    border-radius: 5px;
    -webkit-box-shadow: 1px 1px 1px -1px rgba(0,0,0,0.1);
    -moz-box-shadow: 1px 1px 1px -1px rgba(0,0,0,0.1);
    box-shadow: 1px 1px 1px -1px rgba(0,0,0,0.1);
}

.add, .add_pipe{
    width: 100%;
    height: 2em;
    line-height: 0em;
    border-radius: 0 0 3px 3px;
    background-color: #E2E4E6;
    color: #727a82;
    display: block;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    position: relative;
    text-decoration: none;
    -webkit-user-select: none;
}

.add-person{
    border: none;
    color: #555 !important;
    background-color: #E2E4E6!important;
}

.add-person:hover{
    border: none;
    color: #f6755e !important;
    background-color: #e7e7e7 !important;
}

.add_pipe{
    width: 100% !important;
}

.person {
    overflow: hidden;
    margin: 2.5%;
    position: relative;
    z-index: 10;
    width: 95%;
    float: left;
    /*margin-bottom: 10px;*/
    /*margin-top: 10px;*/
    background-color: #ffffff;
}

.editToolbar {
    width: 100%;
    margin: 0;
    padding: 0;

}

.editToolbar form{

    margin: 0px;
}

#cardName{
    width: 90%;
}

.editToolbar #cardNameForm {
    width: 87%;
    float: left;
}

.editToolbar #cardName {
    width: 90%;
    float: left;
}

.editToolbar #deleteCardForm {
    width: 12%;
    float: right;
}

.pipehover {
    background-color: #bce8f1;
}

.person-edit-tool-bar{
    overflow: visible;
    position: relative;
    top: 0;
    width: inherit;
    height: 100%;
}

.editPersonFrom {
    margin: 0%;
    padding: 5px 0%;
    float: left;
}

.deletePersonForm {

    margin: 0%;
    padding: 0%;
}

.avatar {
    width: 15%;
    float: left;
}

.avatar img {
    padding: 15%;
}

.personData {
    height: 80%;
    margin-top: 0.1em;
    width: 60%;
    font-size: small;
    float: left;
}

.pipe-button{
    overflow: visible;
    position: relative;
    top: 0;
}
/*END OF PIPELINE STYLES*/

.profile{
    display: table;
}

.file_upload{
    display: table-cell;
    vertical-align: middle;
    position: relative;
    overflow: hidden;
}

.profile p{
    text-align: center !important;
}

.file_upload img{
    position: relative;
    width: 30%;
    margin-left: 50%;
    left: -15%;
}

.file_upload > button{
    float: right;
    width: 8em;            /* example */
    height: 100%
}
.file_upload > div{
    padding-left: 1em      /* example */
}

.file_upload input[type=file]{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transform: scale(20);
    letter-spacing: 10em;     /* IE 9 fix */
    -ms-transform: scale(20); /* IE 9 fix */
    opacity: 0;
    cursor: pointer          /* example */
}

/*TRASH STYLE*/
.trash {
    display: block;
    height: 5%;
    width: 5%;
    /*position: fixed;*/
    /*bottom: 7%;*/
    /*left: 1%;*/
    margin-right: auto;
    margin-left: auto;
}